@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400i,700,700i&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,400i,500,700,700i&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin-ext);
body {
    box-sizing: border-box;
    overflow-y: visible;
    overflow-x: hidden;
    width: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative
}

h1,
h2 {
    text-transform: uppercase
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0
}

body,
ol li,
ul li {
    margin: 0
}

blockquote p,
ol p,
ul p {
    display: inline
}

blockquote {
    margin-left: 0;
    margin-right: 0
}

pre {
    break-inside: avoid;
    page-break-inside: avoid
}

pre code {
    background: 0 0;
    border: 0;
    display: block;
    padding: 0
}

hr {
    background: #d3d8de;
    border: 0;
    clear: both
}

a {
    text-decoration: none
}

code {
    overflow-wrap: break-word
}

img {
    vertical-align: middle
}

b,
strong,
table thead {
    font-weight: 700
}

em,
i {
    font-style: italic
}

table {
    border-collapse: collapse
}

table thead {
    color: #506d95;
    text-transform: uppercase
}

table tr:nth-child(even) {
    background: #eff2f5
}

.left.aligned,
.left.aligned p,
table td,
table th {
    text-align: left
}

dt {
    font-weight: 700
}

dd,
dt {
    display: block
}

del,
s {
    text-decoration: line-through
}

.aligned {
    overflow: hidden
}

.right.aligned,
.right.aligned p {
    text-align: right
}

.center.aligned,
.center.aligned p {
    text-align: center
}

.left.floated {
    float: left
}

.right.floated {
    float: right
}

.columns,
.flex {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.flex .evenly.aligned {
    justify-content: space-evenly
}

.columns>* {
    box-sizing: border-box;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

.card {
    overflow: hidden
}

.card :first-child {
    margin-top: 0
}

.card :last-child {
    margin-bottom: 0
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9
}

pre code .hljs-comment {
    color: #a16345
}

pre code .hljs-built_in,
pre code .hljs-keyword,
pre code .hljs-literal {
    color: #228ec3
}

pre code .hljs-string {
    color: #8245a1
}

pre code .hljs-subst {
    color: #ac3973
}

pre code .hljs-number {
    color: #8245a1
}

pre code .hljs-regexp {
    color: #ac3973
}

pre code .hljs-title {
    color: #2eb873
}

pre code .hljs-name,
pre code .hljs-tag {
    color: #228ec3
}

pre code .hljs-attr {
    color: #2eb873
}

@media screen {
    body {
        background: #fff;
        color: #1d2530;
        font-family: "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif;
        font-size: 17px;
        line-height: 1.67;
        padding: 8.5px calc(50% - 455px + 17px);
        min-width: 350px
    }
}

@media screen and (max-width:995px) {
    body {
        padding: 8.5px 17px
    }
}

@media screen {
    body>* {
        max-width: 910px
    }
    h1 {
        font-size: 28.9px;
        margin-bottom: 25.5px;
        margin-top: 25.5px
    }
    h1,
    h2,
    h3,
    h4 {
        font-weight: 500
    }
    h2 {
        color: #737d8c;
        margin-bottom: 20.4px;
        margin-top: 20.4px;
        font-size: 22.1px
    }
    h3,
    h4 {
        font-size: 20.4px
    }
    h4 {
        font-size: 17px;
        margin-bottom: 3.4px;
        margin-top: 3.4px
    }
    p {
        text-align: left
    }
    ul {
        list-style: square
    }
    blockquote,
    h3,
    ol,
    p,
    pre,
    ul {
        margin-bottom: 8.5px;
        margin-top: 8.5px
    }
    ol {
        list-style: decimal
    }
    pre {
        border: solid transparent 1px
    }
    blockquote {
        font-family: "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
        font-size: 15.7px;
        font-style: italic;
        border-radius: 3px;
        line-height: 1.67;
        padding: 3px 17px;
    }
    code,
    pre {
        font-family: "Fira Mono", "Consolas", "Monaco", monospace;
        font-size: 14.45px;
        background: #eff2f5;
        border-radius: 3px
    }
    pre {
        line-height: 1.5;
        padding: 17px
    }
    hr {
        margin-bottom: 17px;
        margin-top: 17px
    }
    a,
    blockquote,
    h1 {
        color: #5f6d95
    }
    code {
        padding: 4.25px
    }
    table {
        margin: 8.5px auto
    }
    table thead {
        font-weight: 500;
        border-bottom: solid #506d95 1px
    }
    table td,
    table th {
        font-weight: inherit;
        padding: 4.25px 8.5px
    }
    dd {
        margin-left: 34px
    }
    .left.floated {
        margin-right: 8.5px
    }
    .right.floated {
        margin-left: 8.5px
    }
}

@media screen and (min-width:550px) and (max-width:659px) {
    .four.columns>*,
    .three.columns>*,
    .two.columns>* {
        width: calc(50% - 8.5px)
    }
}

@media screen and (min-width:660px) {
    .two.columns>* {
        width: calc(50% - 8.5px)
    }
    .three.columns>* {
        width: calc(33.33333% - 11.33333px)
    }
    .four.columns>* {
        width: calc(25% - 12.75px)
    }
}

@media screen {
    .card {
        border: solid transparent 1px;
        border-radius: 3px;
        break-inside: avoid;
        margin-bottom: 8.5px;
        margin-top: 8.5px;
        padding: 8.5px 17px;
        page-break-inside: avoid
    }
    .card.outline {
        border-color: #1d2530;
        color: #1d2530
    }
    .primary.outline.card {
        border-color: #506d95
    }
    .primary.card:not(.outline) {
        background: #506d95;
        color: #fff
    }
    .accent.outline.card {
        border-color: #737d8c
    }
    .accent.card:not(.outline) {
        background: #737d8c;
        color: #fff
    }
    .gray.outline.card {
        border-color: #d3d8de
    }
    .gray.card:not(.outline) {
        background: #d3d8de;
        color: #1d2530
    }
    .sticky {
        background: #fff;
        padding: 8.5px 0
    }
    .hljs {
        padding: 17px
    }
    body ::selection {
        background: rgba(115, 125, 140, .25)
    }
    pre {
        overflow-x: auto;
        white-space: pre
    }
    p a {
        border-bottom: solid transparent 1px;
        padding-bottom: 2px;
        transition: border-bottom-color 250ms
    }
    p a:hover {
        border-bottom-color: #506d95
    }
    hr {
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden
    }
    table td,
    table th {
        padding: 8.5px 17px
    }
}

@media print {
    a,
    body {
        color: #000
    }
    body {
        background: #fff;
        font-family: "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
        font-size: 11pt;
        line-height: 1.41;
        padding: 0 calc(50% - 50% + 1.2cm);
        min-width: 0
    }
    body>* {
        max-width: 100%
    }
    h1 {
        color: #506d95;
        font-size: 17pt;
        margin-bottom: 16pt;
        margin-top: 16pt
    }
    h1,
    h2,
    h3 {
        font-family: "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif;
        font-weight: 500
    }
    h2 {
        color: #737d8c;
        font-size: 14pt;
        margin-bottom: 14pt;
        margin-top: 14pt
    }
    h3 {
        font-size: 13pt;
        margin-bottom: 8pt;
        margin-top: 8pt
    }
    h4,
    table thead {
        font-size: 12pt;
        font-weight: 500
    }
    h4,
    h5,
    h6,
    table thead {
        font-family: "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif
    }
    p {
        text-align: justify
    }
    ul {
        list-style: square
    }
    blockquote,
    h4,
    ol,
    p,
    pre,
    ul {
        margin-bottom: 6pt;
        margin-top: 6pt
    }
    ol {
        list-style: decimal
    }
    blockquote,
    pre {
        border: solid transparent 1px
    }
    blockquote {
        font-size: 13pt;
        color: #506d95;
        font-style: italic;
        border-radius: 3px;
        line-height: 1.67;
        padding: 6pt 24pt
    }
    code,
    pre {
        font-family: "Fira Mono", "Consolas", "Monaco", monospace;
        font-size: 10pt;
        background: #eff2f5;
        border-radius: 3px
    }
    pre {
        line-height: 1.5;
        padding: 12pt
    }
    hr {
        margin-bottom: 12pt;
        margin-top: 12pt
    }
    a {
        font-weight: 700
    }
    code {
        padding: 3pt
    }
    table {
        margin: 6pt auto
    }
    table thead {
        border-bottom: solid #506d95 1px
    }
    table td,
    table th {
        font-weight: inherit;
        padding: 3pt 6pt
    }
    dd {
        margin-left: 24pt
    }
    .left.floated {
        margin-right: 6pt
    }
    .right.floated {
        margin-left: 6pt
    }
}

@media print and (min-width:130mm) and (max-width:199mm) {
    .four.columns>*,
    .three.columns>*,
    .two.columns>* {
        width: calc(50% - 6pt)
    }
}

@media print and (min-width:200mm) {
    .two.columns>* {
        width: calc(50% - 6pt)
    }
    .three.columns>* {
        width: calc(33.33333% - 8pt)
    }
    .four.columns>* {
        width: calc(25% - 9pt)
    }
}

@media print {
    .card {
        border: solid transparent 1px;
        border-radius: 3px;
        break-inside: avoid;
        margin-bottom: 6pt;
        margin-top: 6pt;
        padding: 6pt 12pt;
        page-break-inside: avoid
    }
    .card.outline {
        border-color: #000;
        color: #000
    }
    .primary.outline.card {
        border-color: #506d95
    }
    .primary.card:not(.outline) {
        background: #506d95;
        color: #fff
    }
    .accent.outline.card {
        border-color: #737d8c
    }
    .accent.card:not(.outline) {
        background: #737d8c;
        color: #fff
    }
    .gray.outline.card {
        border-color: #d3d8de
    }
    .gray.card:not(.outline) {
        background: #d3d8de;
        color: #000
    }
    .sticky {
        background: #fff;
        padding: 6pt 0
    }
    .hljs {
        padding: 12pt
    }
    body {
        position: absolute;
        top: 0
    }
    body,
    body * {
        visibility: visible
    }
    p {
        orphans: 3;
        widows: 3
    }
    pre {
        overflow-x: hidden;
        page-break-inside: avoid;
        white-space: pre-wrap
    }
    hr {
        visibility: hidden;
        page-break-after: always
    }
    h1 {
        page-break-after: avoid
    }
    .no.print {
        display: none
    }
    .sticky {
        position: static
    }
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 3px;
    overflow-x: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

pre:not(.hljs) {
    padding: 23px;
    line-height: 19px;
}

blockquote {
    background: rgba(127, 127, 127, 0.1);
    border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
    height: 1.4em;
}


/* for inline code */

:not(pre):not(.hljs)>code {
    color: #C9AE75;
    /* Change the old color so it seems less like an error */
    font-size: inherit;
}


/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */

.page {
    page-break-after: always;
}